
  <link  href="https://unpkg.com/leaflet-geosearch@latest/assets/css/leaflet.css" rel="stylesheet" />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
<script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
  

<!-- <div id="preloader">
    <div class="wrapper">
        <div class="cssload-loader"></div>
    </div>
</div> -->

<!-- ***** Top Search Area Start ***** -->
<div class="top-search-area">
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Close Button -->
                    <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <!-- Form -->
                    <!-- <form action="index.html" method="post"> -->
                        <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Lieu</label><br>
                                        <input type="text" name="lieu" [(ngModel)]="critere.lieu" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Superficie min</label><br>
                                        <input type="text" name="min" [(ngModel)]="critere.min" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Superficie max</label><br>
                                        <input type="text" name="max" [(ngModel)]="critere.max" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Type</label>
                                        <select name="type" [(ngModel)]="critere.type" class="form-control">
                                            <option value="">Tout</option>
                                            <option value="2">Privée</option>
                                            <option value="1">Société</option>
                                            <option value="3">A vendre</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" (click)="advancedSearch()" value="Rechercher"/>
                                    </div>
                                </div>
                            </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- ***** Header Area Start ***** -->
<header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="uzaNav">

                <!-- Logo -->
                <a class="nav-brand" href="index.html"><img src="assets/img/logo.png" alt="" width="125px"></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li class="current-item"><a href="/accueil">Accueil</a></li>
                        </ul>
                        <!-- Login / Register -->
                            <div class="login-register-btn mx-3">
                                <a href="/carte">Application</a>
                            </div>
                            <div class="login-register-btn mx-3">
                                <a href="{{ hreflogout }}" ><img src="assets/img/avatar2.png" style="width: 25px;height: 25px;margin-right:5px;margin-bottom:5px;" />  {{ user }} <span>/ Se Déconnecter</span> </a>
                            </div>
                        <!-- Search Icon -->
                        <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                            <i class="icon_search"></i>
                        </div>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
  <section class="uza-about-us-area">
    <div class="container">
      <div class="row">
        <div style="padding-top:10%" class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <h2>Tracée du terrain</h2>
              <!-- <form action="" method="POST"> -->
                <label>Coordonnées des bornes</label>
                <input type="text" id="coor" name="coordonnee" [(ngModel)]="coordonnee" class="form-control" style="width:100%;cursor:not-allowed" disabled/>
                <button class="btn btn-sm btn-success" style="width:49%" (click)="enregister()">Enregistrer</button>
                <button class="btn btn-sm btn-danger" style="background-color: #f12c2c;width:49%" onclick="effacer()">Effacer</button>
              <!-- </form> -->
              <p>
                Vous pouvez également finir votre traçage
                <button class="btn btn-sm btn-primary" style="width:100%" (click)="finir()">Finir traçage</button>
              </p>
              <div id="desc"></div>	
              <div class="row" *ngIf="montrerFormulaire">
                  <div style="margin-left:3%;">
                      <h1>Description terrain </h1>
                      <div class="form-group">
                        <label>Propriétaire du terrain</label>
                        <input type="text" name="proprietaire" [(ngModel)]="proprietaire"  class="form-control" style="width:100%">
                      </div>
                      <div class="form-group">
                        <label>Nom propriété</label>
                        <input type="text" name="propriete" [(ngModel)]="propriete" class="form-control" style="width:100%"/>
                      </div>
                      <div class="form-group">
                        <label>Lieu</label>
                        <input type="text" name="lieu" [(ngModel)]="lieu" class="form-control" style="width:100%"/>
                      </div>
                      <div class="form-group">
                        <label>Description</label>
                        <input type="text" name="description" [(ngModel)]="description" class="form-control" style="width:100%"/>
                      </div>
                      <div class="form-group">    
                        <label>Superficie</label>
                        <input type="text" name="superficie" [(ngModel)]="superficie" class="form-control" style="width:100%"/>
                      </div>
                      <div class="form-group">
                        <label>Commune</label>
                        <input type="text" name="commune" [(ngModel)]="commune" class="form-control" style="width:100%"/>
                      </div>
                      <div class="from-group">
                        <label>Titre</label>
                        <input type="text" name="titre" [(ngModel)]="titre" class="form-control" style="width:100%"/>
                      </div><br>
                      <div class="from-group">
                        <label>Domaine</label>
                        <select name="type" [(ngModel)]="type" class="form-control">
                        <option value="2" selected>Privée</option>
                        <option value="1">Société</option>
                        <option value="3">A vendre</option>
                        </select><br>
                        <button class="btn btn-sm btn-primary" style="width:100%" (click)="sendData()">Valider</button>
                      </div>
                  </div>
                </div>
            </div>
            <div id="map" class="col-md-8" style="height:1000px">
              <!-- Ici s'affichera la carte -->
            </div>
            <!-- <div class='pointer'><< Click search button</div> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- modal debut -->
  <div id="detailsTerrain" class="modal">
    <div class="modal-content animate" style="width:950px;padding-left:3%;margin: 5% 5% 15% 15%;">
      <div class="imgcontainer">
        <span onclick="document.getElementById('detailsTerrain').style.display='none'" class="close" title="Fermer">&times;</span>
      </div>
      <h5>A propos terrain</h5>
      <p id="aPropos"></p>
      <a href="/details">Plus de détails</a>
    </div>
  </div>
  <!-- modal fin -->

  <footer class="footer-area section-padding-80-0">
    <div class="container">
      <div class="row justify-content-between">

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-footer-widget mb-80">
                <!-- Widget Title -->
                <h4 class="widget-title">Contacter-nous</h4>

                <!-- Footer Content -->
                <div class="footer-content mb-15">
                    <h3 style="font-size:20px">(+261) 32 69 864 11</h3>
                    <p>II 4 C Andoharanofotsy<br> ITSmart@gmail.com</p>
                </div>
            </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-footer-widget mb-80">
                <!-- Widget Title -->
                <h4 class="widget-title">A Propos</h4>
                <p>IT Smart: étudiant à IT University </p>

                <!-- Copywrite Text -->
                <div class="copywrite-text mb-30">
                    <p>&copy; Copyright 2019 <a href="#"> IT Smart</a>.</p>
                </div>
               
            </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 30px;">

          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>2019</script> Tout droit réservé | <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#"> IT Smart</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      </div>
    </div>
  </footer>