
<div style="padding-top: 7%">
    <div>
            <hr>
            <h1 style="text-align: center">Plus de <span style="color:#1583e9;">détails</span></h1>
            <hr>
    </div>
    <div class="container">
        <div class="row" >
            <div class="col-md-6" style="padding-top: 3%;padding-left: 5%">
                <h3 data-animation="fadeInUp" data-delay="100ms" style="font-size:25px"><span>Détails terrain</span></h3>
                <h6 style="color: #1583e9;"><img src="../../assets/img/down/titre.png" width="15px" alt="" />    Titre numero : {{details.titre}} </h6>
                <h6 style="color: #1583e9;"><img src="../../assets/img/down/maison.png" width="22px" alt="" />Type de terrain {{details.type}}</h6>
                <h6 style="color: #1583e9;"><img src="../../assets/img/down/commune.gif" width="17.3px" alt="" />   Commune : {{details.commune}} </h6>
                <h6 style="color: #1583e9;"><img src="../../assets/img/down/lieu.png" width="21px" alt="" />Lieu : {{details.commune}}  </h6>
                <h6 style="color: #1583e9;"><img src="../../assets/img/down/superficie.png" width="16px" alt="" />   Superficie : {{details.superficie}}</h6>
                <h6 style="color: #1583e9;"><img src="../../assets/img/down/desc.png" width="16px" alt="" />   Description : {{details.descriptionTerrain}}</h6>
                <h6 style="color: #1583e9;"><img src="../../assets/img/down/cnx2.png" width="23px" alt="" />Propriétaire : {{details.proprietaire}}</h6>
                <h6 style="color: #1583e9;"><img src="../../assets/img/down/cal2.png" width="15px" alt="" />   Date de dernière acquisition {{details.date}}</h6>
                <h6 style="color: #1583e9;"><img src="../../assets/img/down/pointer.png" width="12px" alt="" />   Nom propriété {{details.nompropriete}}  </h6>
            </div>
            <div class="col-md-6" style="padding-top: 1%;padding-left: 1.8%">
                <img src="../../assets/img/titre2.png" alt="" data-animation="slideInRight" data-delay="400ms">
            </div>
        </div>
    </div>
</div>