<div id="preloader">
    <div class="wrapper">
        <div class="cssload-loader"></div>
    </div>
</div>

<!-- ***** Top Search Area Start ***** -->
<div class="top-search-area">
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Close Button -->
                    <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <!-- Form -->
                    <!-- <form action="index.html" method="post"> -->
                        <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Lieu</label><br>
                                        <input type="text" name="lieu" [(ngModel)]="critere.lieu" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Superficie min</label><br>
                                        <input type="text" name="min" [(ngModel)]="critere.min" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Superficie max</label><br>
                                        <input type="text" name="max" [(ngModel)]="critere.max" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Type</label>
                                        <select name="type" [(ngModel)]="critere.type" class="form-control">
                                            <option value="">Tout</option>
                                            <option value="2">Privée</option>
                                            <option value="1">Société</option>
                                            <option value="3">A vendre</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" (click)="advancedSearch()" value="Rechercher"/>
                                    </div>
                                </div>
                            </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- ***** Header Area Start ***** -->
<header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="uzaNav">

                <!-- Logo -->
                <a class="nav-brand" href="index.html"><img src="assets/img/logo.png" alt="" width="125px"></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li class="current-item"><a href="/accueil">Accueil</a></li>
                        </ul>
                        <!-- Login / Register -->
                            <div class="login-register-btn mx-3">
                                <a href="/carte">Application</a>
                            </div>
                            <!-- <div class="login-register-btn mx-3">
                                <a href="/logout"><img [src]="img" style="width: 25px;height: 25px;margin-right:5px;margin-bottom:5px;" /><span> {{logout}}</span></a>
                            </div>  -->
                            <div class="login-register-btn mx-3">
                                <a href="/login">Se connecter<span>/ S'inscrire</span></a>
                            </div>
                        <!-- Search Icon -->
                        <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                            <i class="icon_search"></i>
                        </div>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<section class="welcome-area">
    <div class="">

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="background-curve" style="padding-top: 9%">
                <img src="assets/img/bg-img/tot2.png" alt="">
            </div>

            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-6">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="100ms"><span style="font-family:serif;font-style: italic;font-size:47px"><span style="color:black">M</span><span style="color:#1583e9;font-size:45px">4</span><span style="color:black">M</span></span><strong style="font-size:50px"> un système de numérisation des <br> <span> Terres à Madagascar </span></strong></h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms" >Plus aucun déplacement, tout ce fait par des clics</h5>
                                <a href="/login" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Commencer</a>
                            </div>
                        </div>
                        <!-- Welcome Thumbnail -->
                        <div class="col-12 col-md-6">
                            <!--<div class="welcome-thumbnail">-->
                                <!--<img src="assets/img/bg-img/tot.png" alt="" data-animation="slideInRight" data-delay="400ms">-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Welcome Area End ***** -->

<!-- ***** About Us Area Start ***** -->
<section class="uza-about-us-area">
    <div class="container">
        <div class="row align-items-center">

            <!-- About Thumbnail -->
            <div class="col-12 col-md-6">
                <div class="about-us-thumbnail mb-80">
                    <img src="assets/img/bg-img/2.jpg" alt="">
                </div>
            </div>

            <!-- About Us Content -->
            <div class="col-12 col-md-6">
                <div class="about-us-content mb-80">
                    <h2>Pourquoi créer cette <span style="color:#1583e9">application?</span></h2>
                    <p>La course vers la <span style="color:#1583e9">numérisation</span> s'accroit et se développe dans le monde entier alors nous voulions que <span style="color:#1583e9">Madagascar</span> suit le rythme</p>
                    <!--, et nous proposions notre application de SIG des Terrains à Madagascar en faveur de cette numérisation.--> 
<!--                        <h2>A qui notre application s'adresse t-il?</h2>-->
                    <p>Notre application s'adresse aux internautes Malagasy qui veulent <span style="color:#1583e9">savoir</span> la situation des terres de notre pays
                       ou pour <span style="color:#1583e9">marchander</span> et <span style="color:#1583e9">trouver</span> des terres. Il s'adresse aussi sur les travaux du <span style="color:#1583e9">ministère des domaines</span>,
                       comme le grand pas vers la numérisation de ce dernier.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- About Background Pattern -->
    <div class="about-bg-pattern">
        <img src="assets/img/core-img/curve-2.png" alt="">
    </div>
</section>
<!-- ***** About Us Area End ***** -->

<!-- ***** Services Area Start ***** -->
<section class="uza-services-area section-padding-80-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Nos services <span style="color:#1583e9">clients</span></h2>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Service Area -->
            <div class="col-12 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon" style="padding-top: 1%">
                        <img src='assets/img/down/rec.png' width='60px' alt='' />
                        <!--<i class="icon_cone_alt"></i>-->
                    </div>
                    <h5>Repérer et rechercher les terrains</h5>
                    <p>Rechercher les terrains avec vos propre critères(superficie,type de terrain, lieu) </p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <img src='assets/img/down/address.png' width='61px' alt='' />
                        <!--<i class="icon_easel"></i>-->
                    </div>
                    <h5>Localiser votre position</h5>
                    <p>Trouvez votre position instantanément</p>
                </div>
            </div>
            
            <!-- Single Service Area -->
            <div class="col-12 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <img src='assets/img/down/pointer.png' width='37px' alt='' />
                        <!--<i class="icon_piechart"></i>-->
                    </div>
                    <h5>Ajouter des terrains</h5>
                    <p>Spécialement pour les employés de la domaine</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Services Area End ***** -->

<!-- ***** Portfolio Area Start ***** -->
<section class="uza-portfolio-area section-padding-80">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Guide d'<span style="color:#1583e9"> utilisation</span></h2>
                    <p>Suivez les photos</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Portfolio Slides -->
            <div class="portfolio-sildes owl-carousel">

                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="assets/img/slide/Etape1.png" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Etape 1: Accueil</h4>
                        <p>Naviguez dans la page d'accueil et commencez lorsque vous êtes prêts</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="assets/img/slide/Etape2.png" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Etape 2: Login</h4>
                        <p>Connecter-vous et profitez pleinement de toutes les fonctionnalités</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="assets/img/slide/Etape3.png" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Etape 3: Carte</h4>
                        <p>Voyez et rechercher les terrains sur la carte</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="assets/img/slide/Etape4.png" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Etape 4: Ajouter des terrains</h4>
                        <p>Spécialement pour les employées de la domaine et les administrateurs</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>
                
                <div class="single-portfolio-slide">
                    <img src="assets/img/slide/Etape5.png" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Etape 5: A propos du terrain</h4>
                        <p>Obtenez les informations publiques pour le terrain</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="assets/img/slide/Etape6.png" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Etape 6: Détails du terrain</h4>
                        <p>Si vous êtes l'administrateur, vous pourriez voir toutes les informations sur le terrain</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Client Feedback Area Start -->

    <!-- Border -->
    <div class="container">
        <div class="border-line"></div>
    </div>

    <!-- Background Curve -->
    <div class="portfolio-bg-curve">
        <img src="assets/img/core-img/curve-3.png" alt="">
    </div>
</section>

<!-- ***** Newsletter Area Start ***** -->
<section class="uza-newsletter-area">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <!-- Newsletter Content -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="nl-content mb-80">
                    <h2>Inscrivez-vous</h2>
                    <p>Inscrivez-vous à notre page et recevez les dernières mis à jour</p>
                </div>
            </div>
            <!-- Newsletter Form -->
            <div class="col-12 col-md-6 col-lg-5">
                <div class="nl-form mb-80">
                    <form action="#" method="post">
                        <input type="email" name="nl-email" value="" placeholder="Votre e-mail">
                        <button type="submit">Inscription</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Border Bottom -->
        <div class="border-line"></div>
    </div>
</section>


<!-- ***** Footer Area Start ***** -->
<footer class="footer-area section-padding-80-0">
    <div class="container">
      <div class="row justify-content-between">

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-footer-widget mb-80">
                <!-- Widget Title -->
                <h4 class="widget-title">Contacter-nous</h4>

                <!-- Footer Content -->
                <div class="footer-content mb-15">
                    <h3 style="font-size:20px">(+261) 32 69 864 11</h3>
                    <p>II 4 C Andoharanofotsy<br> ITSmart@gmail.com</p>
                </div>
            </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-footer-widget mb-80">
                <!-- Widget Title -->
                <h4 class="widget-title">A Propos</h4>
                <p>IT Smart: étudiant à IT University </p>

                <!-- Copywrite Text -->
                <div class="copywrite-text mb-30">
                    <p>&copy; Copyright 2019 <a href="#"> IT Smart</a>.</p>
                </div>
               
            </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 30px;">

          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>2019</script> Tout droit réservé | <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#"> IT Smart</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      </div>
    </div>
  </footer>
<!-- ***** Footer Area End ***** -->

<!-- ******* All JS Files ******* -->
<!-- jQuery js -->
<script src="./assets/js/jquery.min.js"></script>
<!-- Popper js -->
<script src="./assets/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="./assets/js/bootstrap.min.js"></script>
<!-- All js -->
<script src="./assets/js/uza.bundle.js"></script>
<!-- Active js -->
<script src="./assets/js/default-assets/active.js"></script>
